li{
    float: left;
    overflow: hidden;
    text-align: left;
    text-indent: 100px;
    
}
body{
    background-color: gold;
}
img{
  align-items: center;
  padding-left: 160px;
  padding-top: 60px;
}
ul{
    padding-left: 160px;
}